body {
    font-family: Arial;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

.update {
    background: blue;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.delete {
    background: red;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.add-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
}